[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
//]]></script>
[% END %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
//    Core.Agent.TicketProcess.Init();
    Core.Agent.DynamicFieldByService.Init();
//]]></script>
<script type="text/javascript">//<![CDATA[
//]]></script>
[% END %]

